ansicon==1.89.0
black==24.4.2
click==8.1.7
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
platformdirs==4.2.2
python-dotenv==1.0.1
python-editor==1.0.4
PyYAML==6.0.1
readchar==4.1.0
six==1.16.0
tomli==2.0.1
typing_extensions==4.12.2
urllib3==2.2.2
wcwidth==0.2.13
